# Ignore config and credential files
excel_automation/google_sheets_config.py
excel_automation/credentials_config.py
excel_automation/credentials.json
excel_automation/local_file.txt
excel_automation/Excel-Github-Integration.xlsx
